﻿@model TalDorAdi.Models.User
@using System.Web
@using TalDorAdi.ViewModel;
@{
    Layout = null;
}

<html>
<head>
    @Html.Partial("MDB")
    <meta name="viewport" content="width=device-width" />
    <title>showSuppliers</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/Supplier/ShowSuppliers.css" rel="stylesheet" />
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.Partial("ManagerNavbar")
    </header>
    <i class="fas fa-chevron-up fa-lg scroll-up" onclick="ScrollUp()"></i>
    <div class="container">
        <div class="search-input-div">
            <input class="form-control" id="search-input" type="text" placeholder="Search For A Supplier..">
            <i class="far fa-times-circle reset-icon"></i>
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Supplier Name</th>
                    <th>Supplier Password</th>
                </tr>
            </thead>
            <tbody id="supplierTable">
            </tbody>
        </table>
        <div class="no-suppliers-div container hidden">
            No Suppliers Found
        </div>
    </div>


    <script src="~/Scripts/Supplier/ShowSuppliers.js"></script>
    <script src="~/Scripts/Supplier/SearchSupplier.js"></script>
</body>
</html>
