﻿@using Microsoft.AspNetCore.Http;
﻿
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <span class="navbar-brand">
            <img width="26" src="~/Content/img/logo-black.png" />
            <span class="title" style="margin-left:3px; margin-top:2px">@Context.Session.GetString("PageTitle")</span>
        </span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="home-nav-item">
                    <a class="nav-link" href="@Url.Action("ShowHomePage","Home")">
                        Home
                    </a>
                </li>
                <li class="nav-item" id="signin-nav-item">
                    <a class="nav-link" href="@Url.Action("ShowSignInPage","Auth")">Sign In</a>
                </li>
                <li class="nav-item" id="signup-nav-item">
                    <a class="nav-link" href="@Url.Action("ShowSignUpPage","Auth")">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
