﻿@using Microsoft.AspNetCore.Http;
﻿
<nav class="mb-3 navbar navbar-expand-lg navbar-dark default-color">
    <span class="navbar-brand">
        <img width="26" src="~/Content/img/logo-black.png" />
        <span class="title" style="margin-left:3px; margin-top:2px">@Context.Session.GetString("PageTitle")</span>
    </span>

    <div class="collapse navbar-collapse first-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowSupplierPage","Supplier")">
                    <i class="fas fa-home fa-lg"></i> DashBoard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowReservationPage","Order")">
                    <i class="fas fa-clipboard-list fa-lg"></i>  New Order
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowMyReservations","Supplier")">
                    <i class="fas fa-shopping-cart fa-lg"></i>  My Cart
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowMapToSupplier","Branch")">
                    <i class="fas fa-map-marker-alt fa-lg"></i>  Branches
                </a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item facebook-icon">
                <nav>
                    <a class="waves-effect waves-light" href="https://www.facebook.com/DAT-Shop-101816628299277">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                </nav>

            </li>
            <li class="nav-item span">
                <div>
                    Welcome Back @Context.Session.GetString("LogginInUser")!
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link user-nav">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="@Url.Action("ShowProfilePage","Profile")">
                        <i class="fas fa-id-card fa-lg"></i><span class="label">Profile</span>
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ShowSignInPage","Auth")">
                        <i class="fas fa-sign-out-alt"></i><span class="label">Log Out</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
