﻿body {
    background-color: #ffff;
}

.manager-main-page {
    height: 90%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

    .manager-main-page .dashboards {
        height: 100%;
        width: 95%;
        display: flex;
        margin-top: 1em;
    }

        .manager-main-page .dashboards .first-dashboard {
            height: 100%;
            width: 50%;
        }

.page .dashboards .second-dashboard {
    height: 100%;
    width: 50%;
}

.graph-1{
    position:absolute;
    top:50%;
    left:0%;
    transform:translateY(-50%);
}

.graph-2 {
    position: absolute;
    right:0%;
    top: 50%;
    transform: translateY(-50%);
}

.currDollar {
    margin-top: 6%;
}

.first-title {
    color: gray;
    font-weight: 500;
}
.second-title {
    color: gray;
    font-weight: 500;
}