﻿<html>
<head>
    <meta charset="utf-8" />
    <title>Page Not Found</title>
    <link href="@Url.Content("~/Content/css/PageNotFound.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="not-found-div">
        <span>404 Page Was Not Found</span>
        <div class="navbar-header">
            @Html.ActionLink("The page you were looking for was not found - Click here to go Home", "ShowHomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</body>
</html>