﻿@model TalDorAdi.Models.User
@using System.Web
@using TalDorAdi.ViewModel;

@{
    Layout = null;
}

<html>
<head>
    @Html.Partial("MDB")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/Scripts/Profile/UpdateProfile.js"></script>
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />
    <link href="~/Content/css/Profile/ShowProfile.css" rel="stylesheet" />
</head>
<body>
    @if (Model.permission == 1)
    {
        <header>
            @Html.Partial("ManagerNavbar")
        </header>
    }
    else
    {
        <header>
            @Html.Partial("SupplierNavbar")
        </header>
    }
 
    <div id="editProfile" class="card-body user-profile">
        <aside>
            <div class="title">
                <h2>
                    <i class="fas fa-user-circle fa-lg"></i> My Profile
                </h2>
            </div>
            <hr class="hr-dark">
        </aside>

        <section>
            @using (Html.BeginForm("UpdateProfileDetails", "Profile", FormMethod.Post))
            {
                <div class="form-row">
                    <div class="form-group col-12">
                        <label>User ID</label>
                        @Html.TextBoxFor(m => m.userID, new { ControlValuePropertyAttribute = @Model.userID, @class = "form-control col", id = "profileUserID", autofocus = "autofocus", autocomplete = "off", @readonly = "true" })
                        <div class="validation-error">@Html.ValidationMessageFor(x => x.userID)</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label>User Name</label>
                        @Html.TextBoxFor(m => m.name, new { ControlValuePropertyAttribute = @Model.name, @class = "form-control col", id = "profileUserName", autofocus = "autofocus", autocomplete = "off" })
                        <div class="validation-error">@Html.ValidationMessageFor(x => x.name)</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label>Password</label>
                        @Html.TextBoxFor(m => m.password, new { ControlValuePropertyAttribute = @Model.password, @class = "form-control col", id = "profileUserPassword", autofocus = "autofocus", autocomplete = "off" })
                        <div class="validation-error">@Html.ValidationMessageFor(x => x.password)</div>
                    </div>
                </div>
                <div class="text-center">
                    <button id="edit" type="submit" value="Edit" class="update-btn">
                        <i class="fas fa-user-edit"></i> Update
                    </button>
                </div>
                <div class="succcess-message">@TempData["succsessMessage"]</div>
            }
        </section>
    </div>
</body>
</html>
