﻿@model TalDorAdi.Models.User
@using System.Web
@using TalDorAdi.ViewModel;


@{
    Layout = null;

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Html.Partial("MDB")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="~/Content/css/Home.css" rel="stylesheet" />
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/Auth.css" rel="stylesheet" />
</head>
<body>
    <header>
@Html.Partial("Navbar")
</header>
<div class="view">
    <div class="mask rgba-gradient align-items-center">
        <div class="card card-body mx-auto">
@using (Html.BeginForm("SignIn", "Auth", FormMethod.Post))
                {

            <div class="text-center">
                <h3 class="white-text">
                    <i class="fas fa-file-signature white-text"></i> Sign In
                </h3>
                <hr class="hr-light">
                </div>

                <div class="md-form">
                    <i class="fas fa-user prefix white-text active"></i>
@Html.TextBoxFor(a => a.userID, new { placeholder = "ID", autocomplete = "off", @class = "white-text form-control", id = "SignInID", autofocus = "autofocus", spellcheck = "false" })
<div class="validation-error"></div>
</div>
<div class="md-form">
    <i class="fas fa-lock prefix white-text active"></i>
@Html.PasswordFor(a => a.password, new { placeholder = "password", autocomplete = "off", @class = "white-text form-control", id = "SignInPassword", spellcheck = "false" })
<div class="validation-error"></div>
</div>
<div class="text-center">
    <button class="btn btn-outline-white align-self-center">Sign In</button>
</div>
<div class="login-error">
@TempData["incorrect_details"]
</div>
}
</div>
</div>
</div>

<script>
                //$("#signin-nav-item").addClass("active");
</script>
</body>
</html>


