﻿﻿
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("MDB")
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <title>ManagerPage</title>
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AhnWjVW5vdt5EFsYi5kP780XpQCSQIx0Bdv3DCiTsN0C7exnCkDy2qOx1cxwOuwa'></script>

</head>
<body onload='getData();'>
    <header>
        @Html.Partial("ManagerNavbar")
    </header>
    <div id='printoutPanel'></div>
    <div id='myMap' style='width: 100vw; height: 100vh;'></div>
    <script src="~/Scripts/Branch/MapsForManager.js"></script>
    <link href="~/Content/css/Branch.css" rel="stylesheet" />
</body>
</html>

