﻿@model TalDorAdi.Models.User
@using System.Web
@using TalDorAdi.ViewModel;

@{
    Layout = null;
}

<html>
<head>
    @Html.Partial("MDB")
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/Order/ShowReservationPage.css" rel="stylesheet" />
    <link href="~/Content/css/Stock.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />


</head>
<body>
    <header>
        @Html.Partial("SupplierNavbar")
    </header>

    <form class="search-div container" id="FilterSearchForm">

        <select onchange="ChangeSelectedOption(this)" class="form-control browser-default custom-select" id="productType" name="ProductType">
            <option selected disabled style="display: none">Type</option>
            <option>All</option>
        </select>

        <select onchange="ChangeSelectedOption(this)" class="form-control browser-default custom-select" id="productCompany" name="productCompany">
            <option selected disabled style="display: none">Company</option>
            <option>All</option>
        </select>

        <select onchange="ChangeSelectedOption(this)" class="form-control browser-default custom-select" id="productSize" name="productSize">
            <option selected disabled style="display: none">Size</option>
            <option>All</option>
        </select>

        <select onchange="ChangeSelectedOption(this)" class="form-control browser-default custom-select" id="productPrice" name="productPrice">
            <option selected disabled style="display: none">Price(€)</option>
            <option>All</option>
        </select>

        <select onchange="ChangeSelectedOption(this)" class="form-control browser-default custom-select" id="productColor" name="productColor">
            <option selected disabled style="display: none">Color</option>
            <option>All</option>
        </select>

        <select id="currency" class="browser-default custom-select ">
            <option selected>Select coin</option>
            <option value="USD">USD US dollar</option>
            <option value="JPY">JPY Japanese yen</option>
            <option value="BGN">BGN Bulgarian lev</option>
        </select>

        <button id="searchButton" type="submit" name="searchButton">
            <i class="fas fa-search fa-lg icon"></i>
        </button>
        <button id="resetButton" type="button" name="searchButton">
            <i class="far fa-window-close fa-lg icon"></i>
        </button>
    </form>


    <div class="flex-container" id="productsView"></div>

    <div>
        <table border="1" id="producttable" style="display:none">
            <tr>
                <th style="color:goldenrod">ID</th>
                <th style="color:goldenrod">Type</th>
                <th style="color:goldenrod">Company</th>
                <th style="color:goldenrod">Size</th>
                <th style="color:goldenrod">Price</th>
                <th style="color:goldenrod">Color</th>
                <th style="color:goldenrod">Initial Amount</th>
            </tr>
        </table>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal " role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Purchase product</h4>
                </div>
                <div class="modal-body">
                    <div id="buyDiv">
                        <form id="buyForm">

                            <div class="form-group row" style="display:none">
                                <label class="col-sm-4" for="exampleFormvalID">Product Type:</label>
                                <input type="text" name="txtProductID" class="form-control col-sm-8" id="valID" readonly>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" for="exampleFormvalID">Product Type:</label>
                                <input type="text" name="txtProductType" class="form-control col-sm-8" id="valType" readonly>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="exampleFormvalID">Product Company: </label>
                                <input type="text" name="txtProductCompany" class="form-control col-sm-8" id="valCompany" readonly>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" for="exampleFormvalID">Product Size: </label>
                                <input type="text" name="txtSize" class="form-control col-sm-8" id="valSize" readonly>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="exampleFormvalID">Price: </label>
                                <input type="text" name="txtPrice" class="form-control col-sm-8" id="valPrice" readonly>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="exampleFormvalID">Color: </label>
                                <input type="text" name="txtColor" class="form-control col-sm-8" id="valColor" readonly>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="exampleFormvalID">Amount: </label>
                                <select class="form-control col-sm-8" name="txtOption" id="selectAmount">    </select>
                            </div>


                            <input id="btnBuy" class="btn btn-success" type="submit" value="Buy this Product" />
                        </form>
                    </div>

                </div>

            </div>
        </div>


        <script type="text/javascript">

                    $("#buyForm").submit(function (e) {
                        e.preventDefault();
                        $('#myModal').modal('hide');
                        $('.modal-backdrop').remove();
                        $("#status").text("please wait........");
                        var frmData = $("#buyForm").serialize();
                        frmData += '&txtUserID=' + @Model.userID; //add the user ID to the form fields
                        $.post("MakeOrder", frmData, orderSuccess)


                });

        </script>
    </div>

    <script src="~/Scripts/SelectOptions.js"></script>
    <script src="~/Scripts/Product/CreateOptions.js"></script>
    <script src="~/Scripts/Order/ShowReservationPage.js"></script>
    <script src="~/Scripts/Product/SearchProduct.js"></script>
    <i class="fas fa-chevron-up fa-lg scroll-up" onclick="ScrollUp()"></i>
</body>
</html>
