﻿@using TalDorAdi.Models;

@{
    Layout = null;
}

<html>
<head>
    @Html.Partial("MDB")
    <meta name="viewport" content="width=device-width" />
    <title>Show Orders</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/Order/ShowOrders.css" rel="stylesheet" />
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />
</head>

<body>
    <header>
        @Html.Partial("ManagerNavbar")
    </header>
    <i class="fas fa-chevron-up fa-lg scroll-up" onclick="ScrollUp()"></i>
    <div class="container">
        <div class="search-div container">
            <select onchange="ChangeSelectedOption(this)" class="form-control browser-default custom-select" value="All" id="ProductID" name="ProductID">
                <option selected disabled style="display: none">Product ID</option>
                <option>All</option>
            </select>

            <select onchange="ChangeSelectedOption(this)" class="form-control designed-select browser-default custom-select" value="All" id="ProductName" name="ProductName">
                <option selected disabled style="display: none">Product Name</option>
                <option>All</option>
            </select>

            <div class="supplier-div">
                <input id="suplier-id-field" class="form-control designed-select" placeholder="supplier ID" name="SupplierID" maxlength="9" />
                <i class="far fa-times-circle reset-icon" onclick="ResetInput()"></i>
            </div>

            <div class="icons">
                <i class="fas fa-search fa-lg icon" onclick="Search()"></i>
                <i class="far fa-window-close fa-lg icon" onclick="ResetForm()"></i>
            </div>
        </div>
        <br>
        <table class="table orders">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Suplier ID</th>
                </tr>
            </thead>
            <tbody id="orderTable">
            </tbody>
        </table>
        <div class="no-orders-div container hidden">
            No Orders Found
        </div>
    </div>

    <script src="~/Scripts/SelectOptions.js"></script>
    <script src="~/Scripts/Order/ShowOrders.js"></script>
    <script src="~/Scripts/Order/SearchOrders.js"></script>


</body>
</html>


