﻿@model TalDorAdi.ViewModel.ProductViewModel
@using TalDorAdi.Models;
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addProduct</title>
    @Html.Partial("MDB")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body bgcolor="#ccccff">
    <div>
        <form id="frmAddProd">
            <select id="productType" name="productType">
                <option selected value="Type">Type</option>
            </select>
            <br />
            <select id="productCompany" name="productCompany">
                <option selected value="Company">Company</option>
            </select>
            <br />
            <select id="productSize" name="productSize">
                <option selected value="Size">Size</option>
            </select>
            <br />
            <select id="productColor" name="productColor">
                <option selected value="Color">Color</option>
            </select>
            <br />
            <span>price:</span>
            @Html.TextBoxFor(m => m.product.price, new { Value = "", @id = "price" })
            <div style="color:red">@Html.ValidationMessageFor(x => x.product.price)</div>

            <span>Initial Amount: </span>
            @Html.TextBoxFor(m => m.product.initialAmount, new { Value = "", })
            <div style="color:red">@Html.ValidationMessageFor(x => x.product.initialAmount)</div>

            <span>
                Publish on facbook?:
            </span>
            @Html.CheckBox("isPublishOnFecebook", true)


            <br />
            <input id="btnAdd" type="submit" value="add product" />

        </form>

        @using (Html.BeginForm("SaveImages", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBox("UploadedImage", "", new { type = "file" })
                <input type="submit" value="Upload" />
            </div>
            if (ViewBag.message != null)
            {
                @ViewBag.message
            }
        }
        <br />

    </div>
    <div id="status"></div>

    <table id="tblProd" border="1">
        <tr>
            <th>ProductId</th>
            <th>ProductType</th>
            <th>ProductCompany</th>
            <th>Size</th>
            <th>Price</th>
            <th>Color</th>
            <th>InitalAmount</th>
        </tr>
    </table>
    <script src="~/Scripts/Product/ShowNewProductPage.js"></script>
    <script src="~/Scripts/SelectOptions.js"></script>
    <script src="~/Scripts/Product/CreateNewProductOptions.js"></script>
</body>
</html>

