﻿@model TalDorAdi.Models.User
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagerPage</title>
    @Html.Partial("MDB")
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />
    <link href="~/Content/css/Manager/ShowManagerPage.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.Partial("ManagerNavbar")
    </header>

    <div class="manager-main-page">
        <div class="dashboards">
            <div class="first-dashboard">
                <h1 class="first-title">Sum orders of products</h1>
                <div class="graph-1 col-6">
                    <svg width="800" height="400" id="svg1"></svg>
                </div>
            </div>
            <div class="second-dashboard">
                <h1 class="second-title">Orders of product per supplier</h1>

                <div class="graph-2 col-6">
                    <svg width="800" height="400" id="svg2"></svg>
                </div>
            </div>
           
        </div>
    </div>


    <script src="~/Scripts/Manager/graphs.js"></script>
</body>
</html>

