﻿﻿.card .btn {
    top: 15px;
    border-radius: 35px !important;
}

.btn:hover {
    background: white !important;
    color: black !important;
    font-weight: 800 !important;
}

@media (min-width: 800px) and (max-width:1200px) {
    .card {
        width: 50% !important;
        padding: 45px !important;
        left: 50% !important;
        top: 50% !important;
        position: absolute !important;
        transform: translate(-80%, -50%) !important;
        border-radius: 35px !important;
    }
}


@media (min-width: 1200px) and (max-width:1500px) {
    .card {
        width: 40%;
        padding: 45px !important;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-100%, -50%) !important;
        border-radius: 35px !important;
    }
}

@media (min-width: 1500px) {
    .card {
        width: 30%;
        padding: 45px !important;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-120%, -50%) !important;
        border-radius: 35px !important;
    }
}
