﻿html,
body,
.view {
    height: 100%;
    overflow-x: hidden;
}

img {
    position: relative;
    left: 10px;
}

.title {
    position: relative;
    left: 15px;
    font-weight: 500;
}

header {
    height: fit-content;
    display: inline-flex;
    position: absolute;
    top: 0;
}

@media (max-width: 740px) {
    html,
    body,
    .view {
        height: 1000px;
    }
}

@media (min-width: 500px) and (max-width:800px) {
    .card {
        width: 70% !important;
        padding: 45px !important;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 35px !important;
    }
}


.top-nav-collapse {
    background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
    background: inherit !important;
    position: fixed;
    z-index: 100;
    width: 100%;
}


.rgba-gradient {
    background: -webkit-linear-gradient(100deg, rgba(0, 30, 0, 0.3), rgba(0, 0, 120, 0.8) 100%);
}

.card {
    background-color: rgba(0, 0, 150, 0.35);
}

    .card .btn {
        border-radius: 35px !important;
    }

.md-form label {
    color: #ffffff;
}

h6 {
    line-height: 1.7;
}

.mt-5 {
    margin-top: 8rem !important;
}

.view {
    background-image: url('../img/background-sport.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card {
    background-color: #000000b3;
}

.card.wow.fadeInRight.animated {
    padding: 45px !important;
    top: 0px !important;
}

.card-body {
    padding: 2rem !important;
}

.site-description {
    text-align: center;
}

.mr-auto {
    margin-left: 50px;
}

a.nav-link.waves-effect.waves-light {
    padding: 16px;
    margin-top: -15px !important;
    margin-bottom: -15px;
    border-bottom: 0px;
}

.mr-auto {
    position: absolute;
    right: 0px;
}

.navbar-collapse {
    flex-grow: 0;
}

::placeholder {
    color: rgba(255,255,255,0.5) !important;
}

.login-error, .validation-error {
    text-align: center;
    color: red;
    letter-spacing: 0.25px;
    font-weight: bold;
}

.login-error {
    text-align: center;
    position: relative;
    top: 35px;
}

.valid {
    border: 1px solid white !important;
}

.md-form input[type=text]:not(.browser-default) {
    border: 1px solid white;
}

    .md-form input[type=password]:not(.browser-default):not(.input-validation-error),
    .md-form input[type=text]:not(.browser-default):not(.input-validation-error) {
        border: 1px solid white !important;
    }

.input-validation-error {
    border: 1px solid red !important;
}

.md-form .prefix ~ input {
    margin-top: 2rem;
    margin-left: 3.5rem !important;
    padding-left: 1rem;
    border-radius: 35px !important;
    width: calc(100% - 4.5rem);
    box-shadow: none !important;
}

.hidden {
    display: none;
}

.nav-link:not(.user-nav)::after {
    content: '';
    height: 3px;
    background-color: white;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.nav-link:hover:not(.user-nav)::after {
    transform: scaleX(1);
}

.swal2-popup.swal2-toast .swal2-title {
    color: #ffff;
}
