﻿
/*navbar styles*/
header {
    height: fit-content;
    background: rgba(0, 0, 40,1);
}

.nav-link {
    color: #fff;
    transition: .35s;
    font-size: .9375rem;
    font-weight: 400;
    color: white;
    /*padding: 12px;*/
}

.navbar .nav-item .nav-link {
    display: initial;
}

.navbar .dropdown-menu a {
    padding: 12px;
    font-size: .9375rem;
    font-weight: 500;
    color: white;
}

.navbar .dropdown-item:hover {
    background: rgb(218,165,32);
}

.dropdown-menu {
    background-color: rgba(0, 0, 40,1);
    border-radius:0px !important;
}

.mr-auto {
    position: relative !important;
}

.navbar .dropdown-menu a:hover {
    padding: 12px;
    font-size: .9375rem;
    font-weight: 500;
    color: rgba(0, 0, 40,1);
}

.navbar .dropdown-menu a {
    padding: 12px;
    font-size: .9375rem;
    font-weight: 500;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position:relative;
    top:33px;
    height:103px;
    border: none !important;
}

.dropdown-menu-left {
    right: auto !important;
    left: 0px !important;
}

.nav-item.span {
    font-size: .9375rem;
    font-weight: 500;
    color: white;
}

.nav-flex-icons {
    position: absolute;
    right: 0px !important;
    align-items: center;
}

.facebook-icon {
    position: relative;
    right: 20px;
}

.fa-lg {
    line-height: 1.25 !important;
}

.label {
    position: relative;
    left: 15px;
}

img {
    position: relative;
    left: 10px;
}

.title{
    position:relative;
    left:20px;
}
.navbar-brand{
    display:flex;
    align-items:center;
}

.nav-link:not(.user-nav)::after {
    content: '';
    height: 4px;
    background-color: rgb(218,165,32);
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.nav-link:hover:not(.user-nav)::after {
    transform: scaleX(1);
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: rgb(218,165,32);
}