﻿﻿@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Html.Partial("MDB")

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/Common.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Home.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.Partial("Navbar")
    </header>
    <div class="view">
        <div class="mask rgba-gradient align-items-center">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-7 mb-12 mt-md-0 mt-5 white-text text-center text-md-left ">
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft title" data-wow-delay="0.3s">Welcome D.A.T Sports Shop </h1>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <h6 class="mb-3 wow fadeInLeft content multiple-column" data-wow-delay="0.3s">
                            The Cheapest Sports Store You'll Find, Promise!<br>Especially in the days of the COVID-19, 50% of the whole shop!!!
                        </h6>
                        <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" href="@Url.Action("ShowSignUpPage","Auth")">JOIN US</a>
                        <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" href="@Url.Action("ShowSignInPage","Auth")">SIGN IN</a>
                    </div>
                    @*<iframe width="320" height="215"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>*@

                    @*<div style="position: absolute;right:0;top:100;" class="fb-page" data-href="https://www.facebook.com/Clothes-Stock-101478944606926" data-tabs="timeline" data-width="500" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Clothes-Stock-101478944606926" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Clothes-Stock-101478944606926">‏‎Clothes Stock‎‏</a></blockquote></div>*@
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <p>© 2020 D.A.T Sport All Rights Reserved</p>
    </div>


    <script>
        //$("#home-nav-item").addClass("active");
        new WOW().init();
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v4.0&appId=799396600477633&autoLogAppEvents=1"></script>

</body>
</html>

